In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
from statsmodels.formula.api import logit
import statsmodels.formula.api as sm
import warnings
warnings.filterwarnings('ignore')

/Users/christams/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [134]:
Depth_Path = 'Data/depth_chart.csv'

data = pd.read_csv(Depth_Path)

players = pd.read_csv('Data/Names.csv')
pd.set_option('display.max_columns', None)

In [135]:
data = data.fillna(0)
data = data.drop(columns={"2", "4", "6", "8", "10"})
data = data.rename(columns={
    "1": 'Pos',
    "3": '1',
    "5": '2',
    "7": '3',
    "9":'4',
    "11":'5',
    "12":"Team"
})

In [136]:
for x in range(5):
    x += 1
    num = str(x)
    for index, name in enumerate(data[num]):
            if type(name) == str:
                data[num][index] = name.split(" ")[0].capitalize() + " " + name.split(" ")[1].capitalize()

In [137]:
Dates = "09/01/2023,08/01/2023,07/01/2023,06/01/2023,05/01/2023,04/27/2023,04/01/2023,03/01/2023,02/01/2023,01/01/2023,12/01/2022,11/01/2022,10/01/2022,09/01/2022,08/01/2022,07/02/2022,06/01/2022,05/01/2022,04/28/2022,04/01/2022,03/01/2022,02/01/2022,01/01/2022,12/01/2021,11/01/2021,10/01/2021,09/01/2021,08/01/2021,07/01/2021,06/01/2021,05/02/2021,04/01/2021,03/02/2021,02/02/2021,01/01/2021,12/02/2020,11/01/2020,10/02/2020,09/01/2020,08/02/2020,07/01/2020,06/01/2020,05/01/2020,04/01/2020,03/01/2020,02/01/2020,01/01/2020,12/01/2019,11/01/2019,10/01/2019,09/02/2019,08/01/2019,07/01/2019,06/01/2019,05/01/2019,04/01/2019,03/01/2019,02/01/2019,01/01/2019,12/01/2018,11/01/2018,10/01/2018,09/01/2018,08/01/2018,07/01/2018,06/01/2018,05/01/2018,04/01/2018,03/01/2018,02/01/2018,01/01/2018,12/01/2017,11/01/2017,10/01/2017,09/01/2017,08/01/2017,07/01/2017,06/01/2017,05/01/2017,04/01/2017,03/01/2017,02/01/2017,01/01/2017,12/01/2016,11/01/2016,10/01/2016,09/01/2016,08/01/2016,07/01/2016,06/01/2016,05/02/2016,04/01/2016,03/01/2016,02/01/2016,01/01/2016,12/01/2015,11/01/2015,10/01/2015,09/01/2015,08/01/2015,07/02/2015,06/01/2015,05/01/2015,04/01/2015,03/01/2015,02/01/2015,01/01/2015,12/01/2014,11/01/2014,10/01/2014,09/01/2014,08/01/2014,07/01/2014,06/01/2014,05/01/2014,04/01/2014,03/01/2014,02/01/2014,01/01/2014,12/01/2013,11/01/2013,10/01/2013"
timing = Dates.split(",")  
data["Month"] = 0
data["Year"] = 0
last_team = ""
month = 9
year = 2023
count = 0
for index, team in enumerate(data["Team"]):
    
    
    
    if team == "BUF" and last_team == "LAR":
        count += 1
        date = timing[count]
        month = int(date[:2])
        year = int(date[-4:])
    
    
    #print(month)       
    data["Month"][index] = month
    data["Year"][index] = year
    
    
    
    
    
    last_team = team

In [139]:
data

,Pos,1,2,3,4,5,Team,Month,Year
0,LWR,"Davis, Gabe",0,0,0,0,BUF,9,2023
1,RWR,"Diggs, Stefon","Shakir, Khalil",0,0,0,BUF,9,2023
2,SWR,"Sherfield, Trent","Harty, Deonte",0,0,0,BUF,9,2023
3,LT,"Dawkins, Dion","Van Demark,",0,0,0,BUF,9,2023
4,LG,"Mcgovern, Connor","Edwards, David",0,0,0,BUF,9,2023
...,...,...,...,...,...,...,...,...,...
46834,RT,"Saffold, Rodger","Barksdale, Joe","Person, Mike",0,0,LAR,10,2013
46835,TE,"Cook, Jared","Harkey, Cory",0,0,0,LAR,10,2013
46836,TE,"Kendricks, Lance","Mcneill, Mike",0,0,0,LAR,10,2013
46837,QB,"Bradford, Sam","Clemens, Kellen",0,0,0,LAR,10,2013
46838,RB,"Richardson, Daryl","Pead, Isaiah","Stacy, Zac","Cunningham, Benny","Reynolds, Chase",LAR,10,2013

In [140]:
data = data[
    (data["Pos"] == "LWR") | 
    (data["Pos"] == "RWR") | 
    (data["Pos"] == "SWR") | 
    (data["Pos"] == "TE") | 
    (data["Pos"] == "QB") | 
    (data["Pos"] == "RB") | 
    (data["Pos"] == "WR")  
#     (data["Pos"] == "TE/FB") | 
#     (data["Pos"] == "TE/HB") | 
#     (data["Pos"] == "FB/TE") | 
#     (data["Pos"] == "te")
]

In [141]:
data

,Pos,1,2,3,4,5,Team,Month,Year
0,LWR,"Davis, Gabe",0,0,0,0,BUF,9,2023
1,RWR,"Diggs, Stefon","Shakir, Khalil",0,0,0,BUF,9,2023
2,SWR,"Sherfield, Trent","Harty, Deonte",0,0,0,BUF,9,2023
8,TE,"Knox, Dawson","Kincaid, Dalton","Morris, Quintin",0,0,BUF,9,2023
9,QB,"Allen, Josh","Allen, Kyle",0,0,0,BUF,9,2023
...,...,...,...,...,...,...,...,...,...
46829,RWR,"Pettis, Austin","Austin, Tavon",0,0,0,LAR,10,2013
46835,TE,"Cook, Jared","Harkey, Cory",0,0,0,LAR,10,2013
46836,TE,"Kendricks, Lance","Mcneill, Mike",0,0,0,LAR,10,2013
46837,QB,"Bradford, Sam","Clemens, Kellen",0,0,0,LAR,10,2013
46838,RB,"Richardson, Daryl","Pead, Isaiah","Stacy, Zac","Cunningham, Benny","Reynolds, Chase",LAR,10,2013

In [146]:
WR = data[(data["Pos"] == "LWR") | (data["Pos"] == "RWR") | (data["Pos"] == "SWR")]

In [147]:
WR.to_csv('WR_Depth_Chart.csv', index=False, sep=";")

'Kelce, travis'